@model IEnumerable<RedMCOCAW.Models.Champion.ChampionListItem>

@{
    ViewBag.Title = "Champion List";
}

<div class="col-12 text-center"><h2>Champion List</h2></div>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChampId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChampId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ChampId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ChampId })
            </td>
        </tr>
    }
    

</table>
