@model IEnumerable<RedMCOCAW.Models.Roster.RosterListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChampionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NodeAssignmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAssigned)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MemberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChampionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NodeAssignmentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAssigned)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MemberId, champId = item.ChampionId }) |
            @Html.ActionLink("Details", "Details", new { id = item.MemberId, champId = item.ChampionId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MemberId, champId = item.ChampionId })
        </td>
    </tr>
}

</table>
