@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
            <li class="nav-item">
                <input id="registerLink"
                       class="btn btn-sm btn-warning margin-right-5"
                       type="button"
                       title="Manage"
                       value="Hello @User.Identity.GetUserName()"
                       onclick="location.href='@Url.Action(
            actionName: "Index",
            controllerName: "Manage",
            routeValues: null)'" />
            </li>
            <li class="nav-item">
                <input id="registerLink"
                       class="btn btn-sm btn-warning margin-right-5"
                       type="button"                       
                       value="Log Out"
                       onclick="javascript:document.getElementById('logoutForm').submit()" />
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <input id="registerLink"
                   class="btn btn-sm btn-warning margin-right-5"
                   type="button"
                   title="Register"
                   value="Register"
                   onclick="location.href='@Url.Action(
            actionName: "Register",
            controllerName: "Account",
            routeValues: null)'" />
        </li>

        <li class="nav-item">
            <input id="loginLink"
                   class="btn btn-sm btn-warning"
                   type="button"
                   title="Log in"
                   value="Login"
                   onclick="location.href='@Url.Action(
            actionName: "Login",
            controllerName: "Account",
            routeValues: null)'" />

    </ul>
}
